{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{% url 'core:index' %}">Home</a></li>
                    <li>Blog</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Page Title -->

    <div class="container jeep">
        <div class="row">
            <!-- Search Widget -->
            <div class="col-md-4 search-widget widget-item">
                <h3 class="widget-title">Search</h3>
                <form action="{% url 'core:search' %}" method="GET">
                    <input type="text" name="q">
                    <button type="submit"><i class="bi bi-search"></i></button>
                  </form>
            </div><!-- /Search Widget -->

            <!-- Categories Widget -->
            <div class="col-md-4 tags-widget widget-item">
                <h3 class="widget-title">Categories</h3>
                <ul class="list-unstyled">
                    {% for category in categories %}
                        <li><a href="{% url 'core:categories' category.slug %}">{{ category.title }}</a></li>
                    {% endfor %}
                </ul>
            </div><!-- /Categories Widget -->

            <!-- Tags Widget -->
            <div class="col-md-4 tags-widget widget-item">
                <h3 class="widget-title">Tags</h3>
                <ul class="list-unstyled">
                    {% for tag in tags %}
                        <li><a href="{% url 'core:tags' tag.slug %}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
            </div><!-- /Tags Widget -->
        </div><!-- /row -->
    </div><!-- /container -->

    <!-- Blog Posts Section -->
    <section id="blog-posts" class="blog-posts section">
            <div class="container">
                <div class="row gy-4">
                {% for post in posts %}
                    <div class="col-lg-4">
                            <article>
                                <div class="post-img">
                                    <img src="{{ post.cover.url }}" alt="" class="img-fluid">
                                </div>
                                <p class="post-category">{{ post.category }}</p>
                                <h2 class="title">
                                    <a href="{% url 'core:blog-detail' category_slug=post.category.slug slug=post.slug %}">{{ post.heading }}</a>
                                </h2>
                                <div class="d-flex align-items-center">
                                        <img src="{{ post.author.image.url }}" alt="" class="img-fluid post-author-img flex-shrink-0">
                                        <div class="post-meta">
                                            <p class="post-author">{{ post.author }}</p>
                                            <p class="post-date">
                                                <time datetime="2022-01-01">{{ post.updated }}</time>
                                            </p>
                                        </div>
                                </div>
                            </article>
                    </div><!-- End post list item -->
                {% endfor %}
                </div>
            </div>
    </section><!-- /Blog Posts Section -->

  </main>

{% endblock content %}