{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

  <main class="main">

    <div class="container jeep">
        <div class="row">
            <!-- Search Widget -->
            <div class="col-md-4 search-widget widget-item">
                <h3 class="widget-title">Search</h3>
                <form action="{% url 'core:search' %}" method="GET">
                    <input type="text" name="q">
                    <button type="submit"><i class="bi bi-search"></i></button>
                  </form>
            </div><!-- /Search Widget -->

            <!-- Categories Widget -->
            <div class="col-md-4 tags-widget widget-item">
                <h3 class="widget-title">Categories</h3>
                <ul class="list-unstyled">
                    {% for category in categories %}
                        <li><a href="{% url 'core:categories' category.slug %}">{{ category.title }}</a></li>
                    {% endfor %}
                </ul>
            </div><!-- /Categories Widget -->

            <!-- Tags Widget -->
            <div class="col-md-4 tags-widget widget-item">
                <h3 class="widget-title">Tags</h3>
                <ul class="list-unstyled">
                    {% for tag in tags %}
                        <li><a href="{% url 'core:tags' tag.slug %}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
            </div><!-- /Tags Widget -->
        </div><!-- /row -->
    </div><!-- /container -->

    <!-- Featured Posts Section -->
    <section id="recent-posts" class="recent-posts section">
        <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
              <h2>Featured Posts</h2>
              <p>Dive into our curated collection of featured posts, where we highlight the latest trends, expert insights, and must-know tips on beauty, health, and natural well-being.</p>
          </div><!-- End Section Title -->
          <div class="container">
              <div class="row gy-4">
                {% for f in f_posts %}
                <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <article>
                        <div class="post-img">
                            <img src="{{ f.cover.url }}" alt="" class="img-fluid">
                        </div>
                        <p class="post-category">{{ f.category }}</p>
                        <h2 class="title">
                            <a href="{% url 'core:blog-detail' category_slug=f.category.slug slug=f.slug %}">{{ f.heading }}</a>
                        </h2>
                        <div class="d-flex align-items-center">
                            <img src="{{ f.author.image.url }}" alt="" class="img-fluid post-author-img flex-shrink-0">
                            <div class="post-meta">
                                <p class="post-author">{{ f.author }}</p>
                                <p class="post-date">
                                    <time datetime="2022-01-01">{{ f.updated }}</time>
                                </p>
                            </div>
                        </div>
                    </article>
                </div><!-- End post list item -->
                {% endfor %}
              </div><!-- End featured posts list -->
          </div>
      </section><!-- /featured Posts Section -->

    <!-- Recent Posts Section -->
    <section id="recent-posts" class="recent-posts section">
        <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
              <h2>Latest Posts</h2>
              <p>Stay up-to-date with our latest posts, where we uncover the newest discoveries, practical advice, and timely insights on beauty, health, and natural well-being.</p>
          </div><!-- End Section Title -->
          <div class="container">
              <div class="row gy-4">
                  {% for p in latest %}
                  <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                      <article>
                          <div class="post-img">
                              <img src="{{ p.cover.url }}" alt="" class="img-fluid">
                          </div>
                          <p class="post-category">{{ p.category }}</p>
                          <h2 class="title">
                              <a href="{% url 'core:blog-detail' category_slug=p.category.slug slug=p.slug %}">{{ p.heading }}</a>
                          </h2>
                          <div class="d-flex align-items-center">
                              <img src="{{ p.author.image.url }}" alt="" class="img-fluid post-author-img flex-shrink-0">
                              <div class="post-meta">
                                  <p class="post-author">{{ p.author }}</p>
                                  <p class="post-date">
                                      <time datetime="2022-01-01">{{ p.updated }}</time>
                                  </p>
                              </div>
                          </div>
                      </article>
                  </div><!-- End post list item -->
                  {% endfor %}
              </div><!-- End recent posts list -->
          </div>
      </section><!-- /Recent Posts Section -->

  </main>

{% endblock content %}