{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

  <main class="main">

    <div class="container jeep">
        <div class="row">
            <!-- Search Widget -->
            <div class="col-md-4 search-widget widget-item">
                <h3 class="widget-title">Search</h3>
                <form action="{% url 'core:search' %}" method="GET">
                    <input type="text" name="q">
                    <button type="submit"><i class="bi bi-search"></i></button>
                  </form>
            </div><!-- /Search Widget -->

            <!-- Categories Widget -->
            <div class="col-md-4 tags-widget widget-item">
                <h3 class="widget-title">Categories</h3>
                <ul class="list-unstyled">
                    {% for category in categories %}
                        <li><a href="{% url 'core:categories' category.slug %}">{{ category.title }}</a></li>
                    {% endfor %}
                </ul>
            </div><!-- /Categories Widget -->

            <!-- Tags Widget -->
            <div class="col-md-4 tags-widget widget-item">
                <h3 class="widget-title">Tags</h3>
                <ul class="list-unstyled">
                    {% for tag in tags %}
                        <li><a href="{% url 'core:tags' tag.slug %}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
            </div><!-- /Tags Widget -->
        </div><!-- /row -->
    </div><!-- /container -->
    <!-- Recent Posts Section -->
    <section id="recent-posts" class="recent-posts section">
      <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Recent Posts</h2>
            <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
        </div><!-- End Section Title -->
        <div class="container">
            <div class="row gy-4">
                {% for p in posts %}
                <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <article>
                        <div class="post-img">
                            <img src="{% static 'assets/img/blog/blog-1.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <p class="post-category">Politics</p>
                        <h2 class="title">
                            <a href="blog-details.html">Dolorum optio tempore voluptas dignissimos</a>
                        </h2>
                        <div class="d-flex align-items-center">
                            <img src="{% static 'assets/img/blog/blog-author.jpg' %}" alt="" class="img-fluid post-author-img flex-shrink-0">
                            <div class="post-meta">
                                <p class="post-author">Maria Doe</p>
                                <p class="post-date">
                                    <time datetime="2022-01-01">Jan 1, 2022</time>
                                </p>
                            </div>
                        </div>
                    </article>
                </div><!-- End post list item -->
                {% endfor %}
            </div><!-- End recent posts list -->
        </div>
    </section><!-- /Recent Posts Section -->

    <!-- Featured Posts Section -->
    <section id="recent-posts" class="recent-posts section">
        <!-- Section Title -->
          <div class="container section-title" data-aos="fade-up">
              <h2>Featured Posts</h2>
              <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
          </div><!-- End Section Title -->
          <div class="container">
              <div class="row gy-4">
                {% for f in f_posts %}
                <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <article>
                        <div class="post-img">
                            <img src="{% static 'assets/img/blog/blog-1.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <p class="post-category">Politics</p>
                        <h2 class="title">
                            <a href="blog-details.html">Dolorum optio tempore voluptas dignissimos</a>
                        </h2>
                        <div class="d-flex align-items-center">
                            <img src="{% static 'assets/img/blog/blog-author.jpg' %}" alt="" class="img-fluid post-author-img flex-shrink-0">
                            <div class="post-meta">
                                <p class="post-author">Maria Doe</p>
                                <p class="post-date">
                                    <time datetime="2022-01-01">Jan 1, 2022</time>
                                </p>
                            </div>
                        </div>
                    </article>
                </div><!-- End post list item -->
                {% endfor %}
              </div><!-- End featured posts list -->
          </div>
      </section><!-- /featured Posts Section -->

  </main>

{% endblock content %}